<header class="header-container">
  <!-- Top section: logo, welcome, user icon -->
  <div class="header-top">
    <div class="header-left">
      <img src="logo.png" alt="Logo" class="logo" />
    </div>

    <div class="header-center">
      <h1>Welcome Sergio</h1>
    </div>

    <div class="header-right">
      <img src="assets/user-icon.png" alt="User Icon" class="user-icon" />
    </div>
  </div>

  <div class="header-divider"></div>

  
</header>

<div class="header-divider"></div>

<div>
    <nav class="header-links">
        <a routerLink="/" routerLinkActive="active-link">Inicio</a>
        <div class="divider"></div>
        <a routerLink="/anhadirSerie" routerLinkActive="active-link">Agregar Serie</a>
        <div class="divider"></div>
        <a routerLink="/verCargos" routerLinkActive="active-link">Ver Cargos</a>
    </nav>

</div>